<h2><%= t('.heading') %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t'.waiting_confirmation' %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i><%= t'.no_password_change_hint' %></i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i><%= t'.password_change_hint'%></i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit t('.update') %></div>
<% end %>

<h3><%= t'.cancel_account' %></h3>

<p><%= t'.unhappy' %> <%= button_to t('.cancel_account'), registration_path(resource_name), :data => { :confirm => t('devise.shared.you_sure') }, :method => :delete %>.</p>

<%= link_to t('devise.shared.back'), :back %>
