<p><%= t'devise.shared.hello' %> <%= @resource.email %>!</p>

<p><%= t'.lock_reason' %></p>

<p><%= t'.link_description' %></p>

<p><%= link_to t('.unlock_account'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p> 
